.Paper {
  width: 200px;
  height: 280px;
  padding: 5px;
}

.Paper p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.IconContainer {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  display: inline-block;
}

.IconContainer i {
  font-size: 64px;
  margin-bottom: 20px;
}
