.Paper {
  margin: 0 5px;
  padding: 5px 8px;
  width: 250px;
}

.IconContainer {
  font-size: 32px;
  margin: 10px 0;
  text-align: center;
}

.InfoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 15px;
}
