html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-image: linear-gradient(#3b57ca,#55a8d4);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
