html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-image: url('./assets/images/balance.jpg');
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
