html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  widows: 100%;
  font-family: sans-serif;
  background-image: url('./images/balance.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
